.bg-verde {
    background-color: #e5fae9;
}

.bg-todo {
    background-color: #f5f9fc;
}

.botonquienessomos {
    color: #5b91ef;
    background-color: #f7f7f7;
    font-weight: bold;
}

.btn-green{
    background-color: #27a844;
    border-color: #27a844;
}
.catalogo{
    text-align: center;
}
.bg-lightgreen{
    background-color: #e5fae9;
}
